.App {
  text-align: center;
}
.box {
  background: rgb(62, 59, 59);
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  color: aliceblue;
}
